.carousel {
    img {
        max-height: 300px;
    }

    .carousel-caption {
        bottom: 0;
        padding-bottom: 0;
    }
}

.source-section {
    border-left: 1px solid #3f51b5;
}

.list-group-item {
    background-color: transparent;
    font-size: 15px;
    padding: 5px 5px 5px 5px;
    border: none;
}

@media (max-width: 768px) {
    .source-section {
        display: none;
    }
}